.campo {
    border: none;
    padding: 10px;
}

.padao {
    background-color: #ddd;
}

.erro {
    background-color: #f00;
}

.borda {
    border: 1px solid #000;
}

#divExterna {
    background-color: #ccc;
    width: 80px;
    height: 80px;
    padding: 70px;
}

#divInterna {
    background-color: green;
    width: 80px;
    height: 80px;
}

.foco {
    background: #0f0;
}

.desfocado {
    background-color: white
}